<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<form method="post" th:action="@{/section/management/edit}">
			<input th:if="${section} != null" type="hidden" name="id" th:value="${section.id}" />
			<input type="hidden" name="id_course" th:value="${id_course}" />
			<table>
				<tr><td>Name: </td><td><input type="text" name="name" th:value="${section} != null ? ${section.name}" /></td></tr>
				<tr><td>Session</td><td><select name="session">
						<option value="1" th:selected="${section} != null and ${section.session} == 1">Summer</option>
						<option value="2" th:selected="${section} != null and ${section.session} == 2">Fall</option>
						<option value="3" th:selected="${section} != null and ${section.session} == 3">Fall/Winter</option>
						<option value="4" th:selected="${section} != null and ${section.session} == 4">Winter</option>
				</select></td></tr>
				<tr><td>Assigned professor: </td><td>
					<select name="id_professor">
						<option value="0" th:selected="${section} == null or ${section.idProfessor} == null">None</option>
						<option th:each="professor : ${professors}" th:value="${professor.id}" th:selected="${section} != null and ${section.idProfessor} == ${professor.id}" th:text="${professor.name}"></option>
					</select>
				</td></tr>
			</table>
			<input type="submit" />
		</form>
	</body>
</html>