<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1 th:text="'Sections for ' + ${course.name}"></h1>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/section/management/editor(id_course=${course.id})}">Add a new section</a>
		<br />

		<table>
			<tr>
				<th>Name</th>
				<th>Session</th>
				<th>Assigned Professor</th>
				<th>Class times</th>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<th>Edit</th>
				<th>Delete</th>
				</th:block>
			</tr>
			<tr th:each="section : ${course.sections}">
				<td th:text="${section.name}"></td>
				<td th:text="${section.session} == 1
					? 'Summer'
					: (${section.session} == 2
						? 'Fall'
						: (${section.session} == 3
							? 'Fall/Winter'
							: (${section.session} == 4
								? 'Winter'
								: '???'
								)
							)
						)"></td>
				<td th:text="${section.professor} != null ? ${section.professor.name} : 'None'"></td>
				<td><a th:href="@{/class_time/class_times(id_section=${section.id})}">Class times</a></td>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<td><a th:href="@{/section/management/editor(id_course=${course.id}, id=${section.id})}">Edit</a></td>
				<td><a th:href="@{/section/management/delete(id_course=${course.id}, id=${section.id})}">Delete</a></td>
				</th:block>
			</tr>
		</table>
	</body>
</html>