<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:include="header :: header" />
	<div th:if="${#httpServletRequest.userPrincipal.name != null}">
		<h2 th:text="'Welcome ' + ${#httpServletRequest.userPrincipal.name}">
		</h2>
	</div>
</body>
</html>