<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:include="header :: header" />
	<h1>Hello</h1>
	<ul>
		<li th:if="${#httpServletRequest.userPrincipal == null}"><a href="/login">Login</a></li>
		<li><a href="/student">Student</a></li>
		<li><a href="/admin">Admin</a></li>
		<li><a href="/course/courses">Courses</a></li>
		<li><a href="/professor/professors">Professors</a></li>
		<li><a href="/se_program">Software engineer program</a></li>
		<li><a th:href="@{/student/students}">Students</a></li>
		<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/user/user_management">User management</a></li>
	</ul>
	<table th:if="${current_user} != null">
		<caption>Current user</caption>
		<tr><td>Name: </td><td th:text="${current_user.username}"></td></tr>
		<tr><td>Email: </td><td th:text="${current_user.email}"></td></tr>
	</table>
</body>
</html>