<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1>Professors</h1>

		<a href="/professor/management/editor">Add a new professor</a>
		<br />

		<table>
			<tr>
				<th>Name</th>
				<th>Is an engineer?</th>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<th>Edit</th>
				<th>Delete</th>
				</th:block>
			</tr>
			<tr th:each="professor : ${professors}">
				<td th:text="${professor.name}"></td>
				<td th:text="${professor.isEngineer} ? true : false"></td>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<td><a th:href="@{/professor/management/editor(id=${professor.id})}">Edit</a></td>
				<td><a th:href="@{/professor/management/delete(id=${professor.id})}">Delete</a></td>
				</th:block>
			</tr>
		</table>
	</body>
</html>