<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<form method="post" th:action="@{/course/courses_management/edit_course}">
			<input th:if="${course} != null" type="hidden" name="id" th:value="${course.id}" />
			Name: <input type="text" name="name" th:value="${course} != null ? ${course.name}" /><br />
			Credit: <input type="number" min="0" name="credit" th:value="${course} != null ? ${course.credit}" /><br />
		</form>
		<th:block th:if="${course} != null">
		Prerequisites: <th:block th:each="c,iterStat : ${course.prerequisites}"><span th:if="${iterStat.first == false}">, </span><span  th:text="${c.name}"></span><a th:href="@{/course/courses_management/delete_relation(relation=0,id_left=${course.id}, id_right=${c.id})}"> (remove)</a></th:block><br/>
		Corequisites: <th:block th:each="c,iterStat : ${course.corequisites}"><span th:if="${iterStat.first == false}">, </span><span  th:text="${c.name}"></span><a th:href="@{/course/courses_management/delete_relation(relation=1,id_left=${course.id}, id_right=${c.id})}"> (remove)</a></th:block><br/>
		Equivalences: <th:block th:each="c,iterStat : ${course.equivalences}"><span th:if="${iterStat.first == false}">, </span><span  th:text="${c.name}"></span><a th:href="@{/course/courses_management/delete_relation(relation=2,id_left=${course.id}, id_right=${c.id})}"> (remove)</a></th:block><br/>
		<br />
		</th:block>
		<form th:if="${course} != null" method="post" th:action="@{/course/courses_management/add_relation}">
			<input type="hidden" name="id_left" th:value="${course.id}" />
			<select name="id_right">
				<option th:each="c : ${all_courses}" th:value="${c.id}" th:text="${c.name} + ' - ' + ${c.session}"></option>
			</select><br/>
			<input type="radio" name="relation" value="0" checked="true" />Add to prerequisites<br/>
			<input type="radio" name="relation" value="1" />Add to corequisites<br/>
			<input type="radio" name="relation" value="2" />Add to equivalences<br/>
			<input type="submit" value="Add" />
		</form>
	</body>
</html>