<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1>Users Management</h1>

		<a href="/user/add_user">Add a new user</a>
		<br />

		<table>
			<caption>Users</caption>
			<tr>
				<th>User name</th>
				<th>Email</th>
				<th>Is Admin?</th>
				<th>Disable</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.isAdmin} ? true : false"></td>
				<td><a th:href="@{/user/disable_user(username=${user.username})}">Disable</a></td>
			</tr>
		</table>
		<br />
		<table th:if="${not #lists.isEmpty(disabled_users)}">
			<caption>Disabled users</caption>
			<tr>
				<th>User name</th>
				<th>Email</th>
				<th>Is Admin?</th>
				<th>Enable</th>
				<th>Delete</th>
			</tr>
			<tr th:each="user : ${disabled_users}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.isAdmin} ? true : false"></td>
				<td><a th:href="@{/user/enable_user(username=${user.username})}">Enable</a></td>
				<td><a th:href="@{/user/delete_user(username=${user.username})}">Delete</a></td>
			</tr>
		</table>
		
	</body>
</html>