<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1 th:text="'Class times for section ' + ${section.name} + ' of course ' + ${section.course.name}"></h1>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/class_time/management/editor(id_section=${section.id})}">Add a new class time</a>
		<br />

		<table>
			<tr>
				<th>Days</th>
				<th>Start time</th>
				<th>End time</th>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<th>Edit</th>
				<th>Delete</th>
				</th:block>
			</tr>
			<tr th:each="class_time : ${section.classTimes}">
				<td th:text="
				(${class_time.monday} ? 'Mo' : '') +
				(${class_time.tuesday} ? 'Tu' : '') +
				(${class_time.wednesday} ? 'We' : '') +
				(${class_time.thursday} ? 'Th' : '') +
				(${class_time.friday} ? 'Fr' : '') +
				(${class_time.saturday} ? 'Sa' : '') +
				(${class_time.sunday} ? 'Su' : '')
				"></td>
				<td th:text="${#calendars.format(class_time.startTime, 'hh:mmaa')}"></td>
				<td th:text="${#calendars.format(class_time.endTime, 'hh:mmaa')}"></td>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<td><a th:href="@{/class_time/management/editor(id_section=${section.id}, id=${class_time.id})}">Edit</a></td>
				<td><a th:href="@{/class_time/management/delete(id_section=${section.id}, id=${class_time.id})}">Delete</a></td>
				</th:block>
			</tr>
		</table>
	</body>
</html>