<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<form method="post" th:action="@{/academic_record/management/edit}">
			<input type="hidden" name="username" th:value="${username}" />
			<input th:if="${record} != null" type="hidden" name="id" th:value="${record.id}" />
			<table>
				<tr><td>Session:</td><td><select name="session">
						<option value="1" th:selected="${record} != null and ${record.session} == 1">Summer</option>
						<option value="2" th:selected="${record} != null and ${record.session} == 2">Fall</option>
						<option value="3" th:selected="${record} != null and ${record.session} == 3">Fall/Winter</option>
						<option value="4" th:selected="${record} != null and ${record.session} == 4">Winter</option>
				</select></td></tr>
				<tr><td>Year:</td><td><input type="number" min="2000" name="year" th:value="${record} != null ? ${record.year}" /></td></tr>
			</table>
			<input type="submit" />
		</form>
		<form th:if="${record} != null" method="post" th:action="@{/record_entry/management/add}">
			<input type="hidden" name="username" th:value="${username}" />
			<input type="hidden" name="id_academic" th:value="${record.id}" />
			<table>
				<caption>Courses</caption>
				<tr>
					<th>Course</th>
					<th>Grade</th>
					<th>Credits earned</th>
					<th>Action</th>
				</tr>
				<tr th:each="entry : ${record.entries}">
					<td th:text="${entry.course.name}" />
					<td th:text="${entry.grade}" />
					<td th:text="${entry.creditsEarned}" />
					<td><a th:href="@{/record_entry/management/delete(id=${entry.id}, username=${username}, id_academic=${record.id})}">Delete</a></td>
				</tr>
				<tr>
					<td>
						<select name="id_course">
							<option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}" />
						</select>
					</td>
					<td><input type="number" step="0.1" name="grade" /></td>
					<td><input type="number" name="credits_earned" /></td>
					<td><input type="submit" value="Add" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>