<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1 th:if="${student} != null" th:text="'Academic records for ' + ${student.name}"></h1>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/academic_record/management/editor(username=${username})}">Add academic record</a>
		<br />
		
		<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/academic_record/academic_records/}" method="GET">
			<input type="submit" value="See records for:" />
			<select name="username">
				<option th:each="student : ${students}" th:value="${student.username}" th:text="${student.name}" />
			</select>
		</form>

		<table th:if="${student} != null and not ${#lists.isEmpty(student.academicRecords)}">
			<tr>
				<th>Session</th>
				<th>Year</th>
				<th>Credits</th>
				<th>GPA</th>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<th>Edit</th>
				<th>Delete</th>
				</th:block>
			</tr>
			<tr th:each="record : ${student.academicRecords}">
				<td th:text="${record.session} == 1
					? 'Summer'
					: (${record.session} == 2
						? 'Fall'
						: (${record.session} == 3
							? 'Fall/Winter'
							: (${record.session} == 4
								? 'Winter'
								: '???'
								)
							)
						)">
				</td>
				<td th:text="${record.year}"></td>
				<td th:text="${record.credits}"></td>
				<td th:text="${record.GPA}"></td>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<td><a th:href="@{/academic_record/management/editor(username=${student.username}, id=${record.id})}">Edit</a></td>
				<td><a th:href="@{/academic_record/management/delete(username=${student.username}, id=${record.id})}">Delete</a></td>
				</th:block>
			</tr>
		</table>
	</body>
</html>