<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1>Students</h1>

		<form sec:authorize="hasRole('ROLE_ADMIN')" th:if="${not #lists.isEmpty(non_students)}" th:action="@{/student/management/editor}" method="GET">
			<input type="submit" value="Add student for: " />
			<select name="username">
				<option th:each="username : ${non_students}" th:value="${username}" th:text="${username}" />
			</select>
		</form>
		<br />

		<table>
			<tr>
				<th>User name</th>
				<th>Name</th>
				<th>Student ID</th>
 				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<th>Edit</th>
				<th>Delete</th>
				</th:block>
			</tr>
			<tr th:each="student : ${students}">
				<td th:text="${student.username}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.studentId}"></td>
	 			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<td><a th:href="@{/student/management/editor(username=${student.username})}">Edit</a></td>
				<td><a th:href="@{/student/management/delete(username=${student.username})}">Delete</a></td>
				</th:block>
			</tr>
		</table>
	</body>
</html>