<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:include="header :: header" />
		<h1>Software engineer program.</h1>
		<table>
			<tr>
				<td>Core:</td>
				<td><th:block th:each="s,iterStat : ${se_program.core}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=0)}">Remove</a></th:block></td>
			</tr>
			<tr>
				<td>COMP:</td>
				<td><th:block th:each="s,iterStat : ${se_program.COMP}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=1)}">Remove</a></th:block></td>
			</tr>
			<tr>
				<td>Science:</td>
				<td><th:block th:each="s,iterStat : ${se_program.science}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=2)}">Remove</a></th:block></td>
			</tr>
			<tr>
				<td>CG:</td>
				<td><th:block th:each="s,iterStat : ${se_program.CG}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=3)}">Remove</a></th:block></td>
			</tr>
			<tr>
				<td>WSA:</td>
				<td><th:block th:each="s,iterStat : ${se_program.WSA}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=4)}">Remove</a></th:block></td>
			</tr>
			<tr>
				<td>REA:</td>
				<td><th:block th:each="s,iterStat : ${se_program.REA}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=5)}">Remove</a></th:block></td>
			</tr>
			<tr>
				<td>Elective:</td>
				<td><th:block th:each="s,iterStat : ${se_program.elective}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/se_program/management/delete(id_course=${s.id}, type=6)}">Remove</a></th:block></td>
			</tr>
		</table>
		<form sec:authorize="hasRole('ROLE_ADMIN')" method="post" th:action="@{/se_program/management/add}">
			<h2>Add an entry:</h2>
			<table>
				<tr>
					<td>Add</td>
					<td>
						<select name="id_course">
							<option th:each="c : ${all_courses}" th:value="${c.id}" th:text="${c.name} + ' - ' + ${c.year}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>To</td>
					<td>
						<select name="type">
							<option value="0">Core</option>
							<option value="1">COMP</option>
							<option value="2">Science</option>
							<option value="3">CG</option>
							<option value="4">WSA</option>
							<option value="5">REA</option>
							<option value="6">Elective</option>
						</select>
					</td>
				</tr>
				<tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
			</table>
		</form>
	</body>
</html>