<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:include="header :: header" />

	<a sec:authorize="hasRole('ROLE_ADMIN')" href="/course/courses_management/add">Add a course</a>


	<table>
		<caption>Courses</caption>
		<tr th:each="course : ${courses}"><td style="border-style: solid; border-width: thin;">
			<table>
				<tr><td>Name</td><td th:text="${course.name}"></td></tr>
				<tr><td>Credit</td><td th:text="${course.credit}"></td></tr>
				<tr><td>Sections</td>
					<td>
						<th:block th:each="s,iterStat : ${course.sections}"><span th:if="${iterStat.first == false}">, </span><span th:text="${s.name}"></span></th:block>
					</td></tr>
				<tr><td>Prerequisites</td>
					<td>
						<th:block th:each="c,iterStat : ${course.prerequisites}"><span th:if="${iterStat.first == false}">, </span><span th:text="${c.name}"></span></th:block>
					</td></tr>
				<tr><td>Corequisites</td>
					<td>
						<th:block th:each="c,iterStat : ${course.corequisites}"><span th:if="${iterStat.first == false}">, </span><span th:text="${c.name}"></span></th:block>
					</td></tr>
				<tr><td>Equivalences</td>
					<td>
						<th:block th:each="c,iterStat : ${course.equivalences}"><span th:if="${iterStat.first == false}">, </span><span th:text="${c.name}"></span></th:block>
					</td></tr>
				<tr><td colspan="4"><a th:href="@{/section/sections(id_course=${course.id})}">See sections</a></td></tr>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<tr>
					<td colspan="2"><a th:href="@{/course/courses_management/edit(id=${course.id})}">Edit</a></td>
					<td colspan="2"><a th:href="@{/course/courses_management/delete(id=${course.id})}">Delete</a></td>
				</tr>
				</th:block>
			</table>
		</td></tr>
	</table>
</body>
</html>